<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- 
        This handler tells IIS to pass all requests to the wfastcgi script handler.
      -->
      <add name="Python FastCGI" 
           path="*" 
           verb="*" 
           modules="FastCgiModule" 
           scriptProcessor="C:\Users\Regin\OneDrive\Documents\GitHub\ces-inc-web-presence\BlueModernSleekCES\venv\Scripts\python.exe|C:\Users\Regin\OneDrive\Documents\GitHub\ces-inc-web-presence\BlueModernSleekCES\venv\Lib\site-packages\wfastcgi.py" 
           resourceType="Unspecified" 
           requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <!-- 
      These keys tell wfastcgi where to find your app.
      PYTHONPATH should be the root directory of your project.
      WSGI_HANDLER points to your Flask app object. The format is `your_main_file.your_flask_app_variable`.
    -->
    <add key="PYTHONPATH" value="C:\Users\Regin\OneDrive\Documents\GitHub\ces-inc-web-presence\BlueModernSleekCES" />
    <add key="WSGI_HANDLER" value="app.app" />
  </appSettings>
</configuration>